<form id="register-form" action="register.php" method="POST">
    <input id="register-username" type="email" name="username" placeholder="Inserisci la tua email" required/>
    <input id="register-password1" type="password" name="password1" placeholder="Password" required>
    <input id="register-password2" type="password" name="password2" placeholder="Conferma password" required>
    <br>
    <button id="register-submit" type="submit" name="action" value="register">Registrati</button>
    <button type="reset">Reset</button>
</form>