<!--
<form id="register-form" action="register.php" method="POST">
    <input id="register-username" type="email" name="username" placeholder="Inserisci la tua email" required/>
    <input id="register-password1" type="password" name="password1" placeholder="Password" required>
    <input id="register-password2" type="password" name="password2" placeholder="Conferma password" required>
    <br>
    <button id="register-submit" type="submit" name="action" value="register">Registrati</button>
    <button type="reset">Reset</button>
</form>
-->

<div id="registration-div">
    <form id="registration-form" action="registration.php" method="POST">
        <div class="form-group">
            <label for="registration-username">Indirizzo email</label>
            <input id="registration-username" class="form-control w-50" type="email" name="username" placeholder="Inserisci la tua email" required/>
        </div>
        <div class="form-group">
            <label for="registration-password1">Password</label>
            <input id="registration-password1" class="form-control w-50" type="password" name="password1" placeholder="Password" required>
        </div>
        <div class="form-group">
            <label for="registration-password2">Inserire nuovamente la password</label>
            <input id="registration-password2" class="form-control w-50" type="password" name="password2" placeholder="Conferma password" required>
        </div>
        <button id="registration-submit" class="btn btn-primary" type="submit" name="action" value="registration">Registrazione</button>
        <button class="btn btn-secondary" type="reset">Reset</button>
    </form>
</div>